* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {

/* Use this height in order to be able to vertically align calculator*/
    height: 100vh; 

    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 600px;
    width: 400px;
    border: solid black 2px;
}

.display {
    border-bottom: solid black 2px;
    height: 120px;
    font-size: 2rem;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.keypad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 4px;
}

button {
    height: 90px;
    width: 90px;
}

.span-two {
    width: 184px;
}